{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce{% endblock %}

{% block body %}
    <h1>Modifier votre annonce</h1>

    {{ include('components/_form_annonce.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_show_product', {id: product.id}) }}">Retour à l'annonce</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
